nodered/.flows.json.backup
[
    {
        "id": "0329be821138bde4",
        "type": "tab",
        "label": "DJI Agras - Monitoreo y Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f175892b1c5f6ba7",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56326cbc0392ae58",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    },
    {
        "id": "ui_tab_agras",
        "type": "ui_tab",
        "name": "Monitoreo Agras T70",
        "icon": "dashboard"
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Telemetría del Dron",
        "tab": "ui_tab_agras",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86cbaadd7bc9a340",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "192bf6926a1c8240",
        "type": "mqtt in",
        "z": "0329be821138bde4",
        "name": "Recibir datos Dron",
        "topic": "cursoiot/Agus/sensor",
        "qos": "2",
        "datatype": "json",
        "broker": "f175892b1c5f6ba7",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "fn_norm_aa001",
                "28747fac2d156bae",
                "0333b86f03308a60"
            ]
        ]
    },
    {
        "id": "9fb72521d62fb3fc",
        "type": "mqtt out",
        "z": "0329be821138bde4",
        "name": "Enviar al Dron",
        "topic": "cursoiot/Agus/comando",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f175892b1c5f6ba7",
        "x": 1320,
        "y": 340,
        "wires": []
    },
    {
        "id": "28747fac2d156bae",
        "type": "debug",
        "z": "0329be821138bde4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 420,
        "wires": []
    },
    {
        "id": "21077e1d488a4997",
        "type": "debug",
        "z": "0329be821138bde4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "0333b86f03308a60",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Procesar UI",
        "func": "let d = msg.payload;\n\nlet alerta = \"NORMAL\";\n\nif (d.soil < 30 && d.temp > 30 && d.lux > 70) {\n    alerta = \"ALERTA CRÍTICA: riesgo de estrés hídrico\";\n} else if (d.soil < 30) {\n    alerta = \"ALERTA: humedad del suelo baja\";\n} else if (d.temp > 32) {\n    alerta = \"ALERTA: temperatura elevada\";\n} else if (d.lux > 85) {\n    alerta = \"Aviso: radiación solar muy alta\";\n} else if (d.hum < 30) {\n    alerta = \"ALERTA: humedad ambiente baja\";\n}\n\nreturn [\n    { payload: d.temp },\n    { payload: d.hum },\n    { payload: d.soil },\n    { payload: d.lux },\n    { payload: alerta },\n    { payload: d.parcela }\n];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "654d1ec936aceaaf"
            ],
            [
                "9cd5137b4d1a4851"
            ],
            [
                "nuevo_gauge_suelo"
            ],
            [
                "fd64778da5f2bf11"
            ],
            [
                "b01008de3623d9d3"
            ],
            [
                "51a619e6efa27eb5"
            ]
        ]
    },
    {
        "id": "b01008de3623d9d3",
        "type": "ui_text",
        "z": "0329be821138bde4",
        "group": "ui_group_sensors",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Estado del Cultivo",
        "label": "Estado: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "51a619e6efa27eb5",
        "type": "ui_text",
        "z": "0329be821138bde4",
        "group": "ui_group_sensors",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Ubicación Actual",
        "label": "Ubicación: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "654d1ec936aceaaf",
        "type": "ui_gauge",
        "z": "0329be821138bde4",
        "name": "Temperatura",
        "group": "ui_group_sensors",
        "order": 1,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "9cd5137b4d1a4851",
        "type": "ui_gauge",
        "z": "0329be821138bde4",
        "name": "Humedad",
        "group": "ui_group_sensors",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd64778da5f2bf11",
        "type": "ui_gauge",
        "z": "0329be821138bde4",
        "name": "Radiación",
        "group": "ui_group_sensors",
        "order": 4,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Radiación",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "nuevo_gauge_suelo",
        "type": "ui_gauge",
        "z": "0329be821138bde4",
        "name": "Humedad Suelo",
        "group": "ui_group_sensors",
        "order": 3,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "Humedad Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "ccab8bc38c90af33",
        "type": "neuralnet",
        "z": "0329be821138bde4",
        "name": "Red Neuronal Agro",
        "learningRate": 0.3,
        "errorThresh": 0.005,
        "iterations": 3000,
        "log": true,
        "logPeriod": 10,
        "nntype": "0",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "fn_decode_aa001"
            ]
        ]
    },
    {
        "id": "inj_train_aa001",
        "type": "inject",
        "z": "0329be821138bde4",
        "name": "Iniciar entrenamiento",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 3,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "file_in_aa001"
            ]
        ]
    },
    {
        "id": "file_in_aa001",
        "type": "file in",
        "z": "0329be821138bde4",
        "name": "Leer dataset",
        "filename": "/data/dataset_agro_nodered_sin_bateria.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "fn_parse_aa001"
            ]
        ]
    },
    {
        "id": "fn_parse_aa001",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Parsear dataset",
        "func": "try {\n    msg.payload = JSON.parse(msg.payload.toString());\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload.length+\" samples OK\"});\n    return msg;\n} catch(e) {\n    node.error(\"Dataset parse failed: \"+e.message, msg);\n    node.status({fill:\"red\",shape:\"ring\",text:\"parse error: \"+e.message});\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "ccab8bc38c90af33",
                "91960ea531d8197f"
            ]
        ]
    },
    {
        "id": "fn_norm_aa001",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Normalizar entrada",
        "func": "let d = msg.payload;\nmsg.payload = {\n    temp: parseFloat((d.temp / 50).toFixed(4)),\n    hum_amb: parseFloat((d.hum / 100).toFixed(4)),\n    hum_suelo: parseFloat((d.soil / 100).toFixed(4)),\n    radiacion: parseFloat((d.lux / 100).toFixed(4)),\n    viento: 0.2\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "ccab8bc38c90af33"
            ]
        ]
    },
    {
        "id": "fn_decode_aa001",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Decodificar salida NN",
        "func": "const ACCIONES = {\"0\":\"Normal\",\"1\":\"Regar\",\"2\":\"Fumigar\",\"3\":\"Alerta critica\",\"4\":\"Inspeccionar\"};\nconst COMANDOS = {\"0\":\"SISTEMA OK\",\"1\":\"Regar\",\"2\":\"Fumigar\",\"3\":\"ALERTA\",\"4\":\"Inspeccionar\"};\nlet salida = msg.payload;\nif (!salida || typeof salida[\"0\"] === \"undefined\") return null;\nlet maxKey = Object.keys(salida).reduce((a, b) => salida[a] > salida[b] ? a : b);\nmsg.accion = ACCIONES[maxKey];\nmsg.topic = \"cursoiot/Agus/comando\";\nmsg.payload = COMANDOS[maxKey];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "9fb72521d62fb3fc",
                "21077e1d488a4997",
                "fn_accion_ui_aa001"
            ]
        ]
    },
    {
        "id": "fn_accion_ui_aa001",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Accion para UI",
        "func": "msg.payload = msg.accion;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "ui_nn_accion_aa001"
            ]
        ]
    },
    {
        "id": "ui_nn_accion_aa001",
        "type": "ui_text",
        "z": "0329be821138bde4",
        "group": "ui_group_sensors",
        "order": 7,
        "width": "12",
        "height": 0,
        "name": "Accion NN",
        "label": "IA recomienda: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "18",
        "color": "#0094CE",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "91960ea531d8197f",
        "type": "neuralnet",
        "z": "0329be821138bde4",
        "name": "neuralnet",
        "learningRate": 0.3,
        "errorThresh": 0.005,
        "iterations": "1000",
        "log": false,
        "logPeriod": 10,
        "nntype": "0",
        "x": 820,
        "y": 500,
        "wires": [
            [
                "9eb567fd9bc9e08f"
            ]
        ]
    },
    {
        "id": "9eb567fd9bc9e08f",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Decodificar salida NN",
        "func": "const ACCIONES = {\"0\":\"Normal\",\"1\":\"Regar\",\"2\":\"Fumigar\",\"3\":\"Alerta critica\",\"4\":\"Inspeccionar\"};\nconst COMANDOS = {\"0\":\"SISTEMA OK\",\"1\":\"Regar\",\"2\":\"Fumigar\",\"3\":\"ALERTA\",\"4\":\"Inspeccionar\"};\nlet salida = msg.payload;\nif (!salida || typeof salida[\"0\"] === \"undefined\") return null;\nlet maxKey = Object.keys(salida).reduce((a, b) => salida[a] > salida[b] ? a : b);\nmsg.accion = ACCIONES[maxKey];\nmsg.topic = \"cursoiot/Agus/comando\";\nmsg.payload = COMANDOS[maxKey];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "b72ae20817d54685"
            ]
        ]
    },
    {
        "id": "5d81b9ed3e82e7a3",
        "type": "debug",
        "z": "0329be821138bde4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 600,
        "wires": []
    },
    {
        "id": "b72ae20817d54685",
        "type": "function",
        "z": "0329be821138bde4",
        "name": "Accion para UI",
        "func": "msg.payload = msg.accion;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 600,
        "wires": [
            [
                "6643691defed69c8"
            ]
        ]
    },
    {
        "id": "6643691defed69c8",
        "type": "ui_text",
        "z": "0329be821138bde4",
        "group": "ui_group_sensors",
        "order": 7,
        "width": "12",
        "height": 0,
        "name": "Accion NN",
        "label": "IA recomienda: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "18",
        "color": "#0094CE",
        "x": 1400,
        "y": 600,
        "wires": []
    }
]